{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <h2 class="text-center">My Dj's</h2>
            </div>
        </div>
        <!--Menu Btn-->
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <a href="{% url 'home' %}" class="btn text-white bg-info">Back to gigs</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-sm mt-3">
                    <table class="table table-custom-allign mt-5 border text-center" id="dj-table">
                        <thead class=" thead-dark ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">DJ Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Staff</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if all_users %}
                                {% for user in all_users %}
                                    <tr class="rejected_gig text-white">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ user.user_name }}</td>
                                        <td>{{ user.email }}</td>
                                        {% if user.is_staff %}
                                        <td>Yes</td>
                                        {% else %}
                                        <td>No</td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'user_details' user.user_name %}" class="btn login-custom p-2 mx-1">View Details</a>
                                        </td>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}