{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://kit.fontawesome.com/9167b451f3.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-sm mt-3">
                    <h2 class="text-center">Registered DJ List</i></h2>
                    <a href="{% url 'home' %}" class="btn text-white bg-info">Back to Gigs List</a>
                    <table class="table mt-5 border text-center">
                        <thead class=" thead-dark ">
                            <tr>
                                <th scope="col ">#</th>
                                <th scope="col ">DJ Name</th>
                                <th scope="col ">Email</th>
                                <th scope="col ">Staff</th>
                                <th scope="col ">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if all_users %}
                                {% for user in all_users %}
                                    <tr class="proposal_gig">
                                        <th scope="row ">{{ forloop.counter }}</th>
                                        <td>{{ user.user_name }}</td>
                                        <td>{{ user.email }}</td>
                                        {% if user.is_staff %}
                                        <td>Yes</td>
                                        {% else %}
                                        <td>No</td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'user_details' user.user_name %}" class="btn p-2 text-white mx-1 bg-success ">Update</a>
                                        </td>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}