{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <a href="{% url 'home' %}" class="btn text-white bg-info mb-3">Back to gigs</a>
            <h2>Create Venue</h2>
            <form class="form-custom w-50 py-5 px-5" method="POST" action="{% url 'create_venue' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-white">Venue Name</label>
                        {{ form.name }}
                    <small id="emailHelp" class="form-text text-white">The name is mandatory</small>
                </div>
                <div class="form-group">
                    <label class="text-white">Address</label>
                        {{ form.address }}
                </div>
                <div class="form-group">
                    <label class="text-white">City</label>
                        {{ form.city }}
                </div>
                <div class="form-group">
                    <label class="text-white">Contact Info</label>
                        {{ form.contact }}
                </div>
                <div class="form-group">
                    <label class="text-white">Website</label>
                        {{ form.website }}
                </div>
                <div class="form-group">
                    <label class="text-white">Info</label>
                        {{ form.additional_info }}
                </div>
                <button type="submit" class="btn login-custom">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}