{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <h2>Gig Detail</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12  d-flex justify-content-center mt-2 ">
                <a href="{% url 'home' %}" class="btn text-white bg-info">Back to Gigs List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mt-5">
                            {% if gig.status == 0 %}
                                <div class="card-body text-white bg-warning mb-4">
                                    <h4 class="card-title">{{ gig.name }}</h4>
                                    <h5 class="card-title">Gig Proposal</h5>
                            {% elif gig.status == 1 %}
                                <div class="card-body text-white bg-success">
                                    <h4 class="card-title">{{ gig.name }}</h4>
                                    <h5 class="card-title">Confirmed Gig</h5>
                            {% else %}
                                <div class="card-body text-white bg-danger mb-4">
                                    <h4 class="card-title">{{ gig.name }}</h4>
                                    <h5 class="card-title">Canceled Gig</h5>
                            {% endif %}
                                <p class="card-text">{{ gig.date }}</p>
                                <small>{{ gig.days_to }} days till the event</small>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Start Time: </strong><span>{{ gig.time_start }}</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>Total Set Time: </strong><span>{{ gig.time_duration }}</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>Fees: </strong>$<span>{{ gig.calculated_fees}}</span>
                                </li>
                                {% if gig.notes %}
                                    <li class="list-group-item">
                                        <strong>Notes: </strong>
                                        <p>
                                            {{ gig.notes }}
                                        </p>
                                    </li>
                                {% endif %}
                                {% if user.is_staff == False %}
                                    {% if gig.status == 0 %}
                                        <li class="list-group-item">
                                            <form class="d-inline" action="{% url 'accept' gig.slug %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" name="agenda_gig_id" value="{{ gig.slug }}" class="btn text-white bg-success">Accept</button>
                                            </form>
                                            <form class="d-inline" action="{% url 'refuse' gig.slug %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" name="agenda_gig_id" value="{{ gig.slug }}" class="btn text-white bg-danger">Refuse</button>
                                            </form>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="list-group-item">
                                        <a href="{% url 'update_gig' gig.slug %}" class="btn btn-primary p-2 mx-1">Update</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mt-5 bg-dark mb-5">
                            <div class="card-header text-white">
                                <strong>Venue: </strong><span>{{ venue.name }}</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Address:</strong>
                                    <span>{{ venue.address }}</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>Contact info: </strong
                    ><span>{{ venue.contact }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Additional Notes:</strong>
                                    <p>
                                        {{ venue.additional_info }}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}