{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <h2>Gigs History</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <a href="{% url 'home' %}" class="btn text-white bg-info mb-3">Back to gigs</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if gigs_history %}
                    <div class="table-responsive-sm mt-3">
                        <table class="table table-custom-allign mt-5 border text-center" id="gigs-history">
                            <thead class=" thead-dark ">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">Cash</th>
                                    <th scope="col">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for gig in gigs_history %}
                                    <tr class="rejected_gig text-white">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ gig.date }}</td>
                                        <td>{{ gig.dj }}</td>
                                        <td>{{ gig.venue.name }}</td>
                                        <td>{{ gig.calc_agency_cash }}</td>
                                        {% if gig.status == 3 %}
                                            <td>Cancelled</td>
                                        {% else %}
                                            <td>Completed</td>
                                        {% endif %}
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="jumbotron bg-dark text-center text-white">
                                    <img src="{% static 'images/flamingo_sunglass_square.jpg' %}" alt="flamingo with sunglasses" class="flamingo_image" />
                                    <h1 class="display-4 logo-jumbo">Information</h1>
                                    <p class="lead">There are no history of gigs yet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if gigs_history.has_previous %}
                    <li><a href="?page={{ gigs_history.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if gigs_history.has_next %}
                    <li><a href="?page={{ gigs_history.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}