{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
                <h2>My gigs history</h2>
            </div>
        </div>
        <!--Menu Btn-->
        <div class="row">
            <div class="col-12  d-flex justify-content-center mt-2 ">
                <a href="{% url 'home' %}" class="btn text-white bg-info">Back</a>
            </div>
        </div>
        {% if past_gigs %}
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-sm mt-3">
                        <!--Table-->
                        <table class="table table-custom-allign mt-5 border text-center" id="history-table">
                            <thead class=" thead-dark ">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">Cash</th>
                                    <th scope="col">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for gig in past_gigs %}
                                <tr class="rejected_gig text-white">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ gig.date }}</td>
                                    <td>{{ gig.venue.name }}</td>
                                    <td>{{ gig.calculated_fees }}</td>
                                    {% if gig.status == 3 %}
                                        <td>Cancelled</td>
                                    {% else %}
                                        <td>Completed</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <!--In case no gigs history-->
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="jumbotron bg-dark text-center text-white">
                            <img src="{% static 'images/flamingo_sunglass_square.jpg' %}" alt="flamingo with sunglasses" class="flamingo_image" />
                            <h1 class="display-4 logo-jumbo">Hey DJ!</h1>
                            <p class="lead">You still don't have any completed gig yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if past_gigs.has_previous %}
                    <li><a href="?page={{ past_gigs.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if past_gigs.has_next %}
                    <li><a href="?page={{ past_gigs.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}