{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <!--Here comes the cards-->
                    {% if my_gigs %}
                        {% for gig in my_gigs %}
                            {% if gig.days_to >= 0 %}
                                <div class="col-md-3">
                                    {%  if gig.status == 0 %}
                                        <div class="card text-white bg-success mb-4">
                                            <div class="card-header">Confirmed Gig</div>
                                    {% elif gig.status == 1 %}
                                        <div class="card text-white bg-warning mb-4">
                                            <div class="card-header">Proposal Gig</div>
                                    {% else %}
                                        <div class="card text-white bg-danger mb-4">
                                            <div class="card-header">Cancelled Gig</div>
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ gig.date }}</h5>
                                        <p class="card-text">{{ gig.venue.name }}</p>
                                        <p class="cart-text">{{ gig.venue.city }}</p>
                                        <a href="#" class="btn btn-primary">Details</a>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <p>Nothing to show</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}