{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-flex justify-content-center mt-2 ">
                <a href="{% url 'history' %}" class="btn text-white bg-info">History</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 left">
                {% if my_gigs %}
                    <div class="row">
                        {% for gig in my_gigs %}
                            {% if gig.days_to >= 0 %}
                                <!--Here comes the cards-->
                                <div class="col-md-3">
                                {%  if gig.status == 0 %}
                                    <div class="card text-white bg-warning mb-4">
                                        <div class="card-header">Proposal Gig</div>
                                {% elif gig.status == 1 %}
                                    <div class="card text-white bg-success mb-4">
                                        <div class="card-header">Confirmed Gig</div>
                                {% else %}
                                    <div class="card text-white bg-danger mb-4">
                                        <div class="card-header">Cancelled Gig</div>
                                {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ gig.date }}</h5>
                                        <p class="card-text">{{ gig.venue.name }}</p>
                                        <p class="cart-text">{{ gig.venue.city }}</p>
                                        <a href="{% url 'gig_details' gig.slug %}" class="btn btn-primary">Details</a>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="jumbotron bg-dark text-center text-white">
                                    <img src="{% static 'images/flamingo_sunglass_square.jpg' %}" alt="flamingo with sunglasses" class="flamingo_image" />
                                    <h1 class="display-4 logo-jumbo">Hey DJ!</h1>
                                    <p class="lead">You don't have any gig at this moment.</p>
                                    <hr class="my-4" />
                                    <p>for more info contact the admin at charlyalaneperon@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if my_gigs.has_previous %}
                <li><a href="?page={{ my_gigs.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if my_gigs.has_next %}
                <li><a href="?page={{ my_gigs.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}