{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div id="jumbo-out">
                <div class="jumbotron text-white" id="jumbo-in">
                    <h1 class="display-4">
                        Welcome to <span class="logo-jumbo">Flamingo</span>
                    </h1>
                    <p class="lead">A simple solution for artists and agencies</p>
                    <hr class="my-4" />
                    <p>
                        Register bellow to discover a better way to manage your gigs.
                    </p>
                    <a class="btn form-custom text-white btn-lg" href="{% url 'register' %}" role="button">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}