{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-sm mt-3">
                    <h2 class="text-center">Welcome</h2>
                    <a href="{% url 'create_gig' %}" class="btn text-white bg-info">Create Gig</a>
                    <a href="{% url 'create_venue' %}" class="btn text-white bg-info">Create New Venue</a>
                    <a href="{% url 'all_users' %}" class="btn text-white bg-info">View Registered DJ's</a>
                    <a href="#" class="btn text-white bg-info">View Passed Gigs</a>
                    <div class="card card-bory mt-3">
                        <form method="GET">
                            {{ my_filter.form }}

                            <button class="btn btn-primary" type="submit">Search</button>
                        </fom>
                    </div>
                    <table class="table mt-5 border text-center">
                        <thead class=" thead-dark ">
                            <tr>
                                <th scope="col ">#</th>
                                <th scope="col ">Date</th>
                                <th scope="col ">Venue</th>
                                <th scope="col ">DJ</th>
                                <th scope="col ">Status</th>
                                <th scope="col ">Payment</th>
                                <th scope="col ">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if all_gigs %}
                                {% for gig in all_gigs %}
                                    {% if gig.status == 1 %}
                                        <tr class="confirmed_gig">
                                    {% elif gig.status == 0 %}
                                        <tr class="proposal_gig">
                                    {% elif gig.status == 2 %}
                                        <tr class="refused_gig">
                                    {% else %}
                                        <tr class="rejected_gig">
                                    {% endif %}
                                    <th scope="row ">{{ forloop.counter }}</th>
                                    <td>{{ gig.date }}</td>
                                    <td>{{ gig.venue.name }}, {{ gig.venue.city }}</td>
                                    <td>{{ gig.dj }}</td>
                                    {% if gig.status == 1 %}
                                        <td>Approved</td>
                                    {% elif gig.status == 0 %}
                                        <td>Proposal</td>
                                    {% elif gig.status == 2 %}
                                        <td>Refused</td>
                                    {% else %}
                                        <td>Cancelled</td>
                                    {% endif %}
                                    {% if gig.is_payed %}
                                        <td>Payment Transferred</td>
                                    {% else %}
                                        <td>Not Transferred</td>
                                    {% endif %}
                                        <td><a href="{% url 'update_gig' gig.slug %}" class="p-2 text-white mx-1 bg-success ">Update</a><a href="#" class="p-2 text-white mx-1 bg-danger ">Delete</a></td>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function($){
            $("form").addClass("py-3 px-2");
            $("label").addClass("mx-2");
            $("button").addClass("mx-2");
        })
    </script>
{% endblock content %}